doctype
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="format-detection" content="telephone=no")
    meta(name="description" content="Test Projector")
      
    title= pageTitle
    
    link(rel="stylesheet" href="css/normalize.css")
    link(rel="stylesheet" href="css/main.css")
    
  body
    .container
      each card in cards
        .card
          .card__image
            img(src=`${card.img}`, alt=`${card.name}`)
          
          .card__data
            a.card__link(href="#") !{card.name}
            p.card__price
              | #{card.price} 
              span грн
    
  script(src="js/main.js")
